{{- $secretName := printf "%s-secrets" (include "photoprism-plus.fullname" .) -}}
{{- $existing := lookup "v1" "Secret" .Release.Namespace $secretName -}}
{{- $existingAdmin := "" -}}
{{- $existingDb := "" -}}
{{- if $existing -}}
  {{- $existingAdmin = default "" (index $existing.data "PHOTOPRISM_ADMIN_PASSWORD") | b64dec | trim -}}
  {{- $existingDb = default "" (index $existing.data "PHOTOPRISM_DATABASE_PASSWORD") | b64dec | trim -}}
{{- end -}}
{{- $adminPassword := default "" (.Values.adminPassword | toString | trim) -}}
{{- if eq $adminPassword "" -}}
  {{- if ne $existingAdmin "" -}}
    {{- $adminPassword = $existingAdmin -}}
  {{- else -}}
    {{- $adminPassword = randAlphaNum 16 -}}
  {{- end -}}
{{- end -}}
{{- $dbPassword := default "" (.Values.database.password | toString | trim) -}}
{{- if and (eq $dbPassword "") (ne $existingDb "") -}}
  {{- $dbPassword = $existingDb -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
type: Opaque
stringData:
  PHOTOPRISM_ADMIN_PASSWORD: {{ $adminPassword | quote }}
  {{- if ne $dbPassword "" }}
  PHOTOPRISM_DATABASE_PASSWORD: {{ $dbPassword | quote }}
  {{- end }}
