apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "versitygw.fullname" . }}-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ .Values.nfs.server }}
    path: {{ .Values.nfs.path }}
