{{- if not .Values.secret.enabled }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace (include "versitygw.fullname" .) }}
{{- if not $secret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "versitygw.fullname" . }}
  labels:
    app: {{ include "versitygw.name" . }}
type: Opaque
data:
  {{ .Values.secret.accessKeyName }}: {{ .Values.env.ROOT_ACCESS_KEY | default "admin" | b64enc | quote }}
  {{- if .Values.env.ROOT_SECRET_KEY }}
  {{ .Values.secret.secretKeyName }}: {{ .Values.env.ROOT_SECRET_KEY | b64enc | quote }}
  {{- else }}
  {{ .Values.secret.secretKeyName }}: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
